{% set page = 'les-videos' %}

{% extends '../../partials/base.twig' %}

{% block title %}Les vidéos niveau {{ niveau | upper }}{% endblock %}

{% block body %}
<div id="video-show">
  <section>
    <article class="container">
      <div class="contenu">
        <h1>Les vidéos niveau <strong>{{ niveau | upper }}</strong></h1>
      </div>
    </article>
  </section>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}
