{% extends 'partials/base.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div id="accueil">
  <div class="container">
    <section id="presentation">
      <article>
        <div class="image">
          <img src="/images/school.jpg" alt="Classe d'école" />
        </div>

        <div class="contenu">
          <p>Bienvenue dans la classe virtuelle de <h1>Maîtresse Mathilde</h1></p>

          <p>Vous retrouverez sur ce site des cours adaptés à différents niveaux d'enfants, du CP au CM2.</p>
        </div>
      </article>
    </section>
  </div>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}
