{% extends 'partials/base.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div id="accueil">
  <div class="container">
  </div>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}
