{% set page = 'les-questions' %}

{% extends '../../partials/base.twig' %}

{% block title %}Les questions{% endblock %}

{% block body %}
<div id="accueil">
  <section>
    <article class="container">
      <div class="contenu">
        <h1>Les questions</h1>
      </div>
    </article>
  </section>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}
