{% set page = 'les-cours' %}

{% extends '../../partials/base.twig' %}

{% block title %}Les cours niveau {{ niveau | upper }}{% endblock %}

{% block body %}
<div id="accueil">
  <section>
    <article class="container">
      <div class="contenu">
        <h1>Les cours niveau <strong>{{ niveau | upper }}</strong></h1>
      </div>
    </article>
  </section>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}
