// Colors
$yellow: #f9ca46
$blue: #3f83a1
$red: #e84234
$green: #85ac33
$white: #f4f4f4
$black: #261c28

$light-blue: #5acdff

::selection
  background-color: rgba(#ffe82d, 0.6)

// Elements
body
  margin: 0
  padding: 0
  background-color: $white
  transition: .8s ease
  display: flex
  min-height: 100vh
  flex-direction: column
  #app
    flex-grow: 1

ul
  margin: 0
  padding: 0
  li
    margin: 0
    padding: 0

figure
  margin: 0
  padding: 0
  figcaption
    margin: 0
    padding: 0

img
  max-width: 100%

p, input, label, textarea, span, button, table, tr, td
  font-family: 'Josefin Sans', sans-serif
  font-weight: 400
  font-size: 1.2rem
  color: $black

b, strong
  font-family: 'Josefin Sans', sans-serif
  font-weight: 700
  font-size: 1.2rem
  color: $black

a
  font-family: 'Josefin Sans', sans-serif
  font-weight: 700
  font-size: 1.2rem
  color: $black
  text-decoration: none

h1
  font-family: 'Parisienne', cursive
  font-size: 1.8rem
  color: $black
  strong
    font-family: 'Caveat', cursive


h2, h3, h4, h5, h6
  font-family: 'Caveat', cursive
  font-weight: 700
  font-size: 1.6rem
  color: $black

footer
  padding: 20px 0
  text-align: center
  color: white
  // background-color: $primary-color-dark

// Classes
.no-size
  font-size: 0

.container
  position: relative
  top: 0
  left: 0
  margin: 30px auto
  max-width: 1100px
  width: 90%
  padding: 0
  @media(max-width: 600px)
    width: 95%

div.image
  img
    width: 100%
    object-fit: cover
    object-position: center

.contenu
  a
    position: relative
    display: inline-block
    &::before
      content: ''
      position: absolute
      left: -2px
      top: 50%
      transform: translateY(-50%)
      width: 0
      height: 6px
      z-index: -1
      background-color: rgba($light-blue, .8)
      transition: .3s ease
    &:hover
      &::before
        width: calc(100% + 4px)

a.close-sub-menu
  &::before, &::after
    content: ''
    position: absolute
    background-color: $white
    width: 24px
    height: 8px
  &::before
    top: 10px
    left: 0
    transform: rotate(-45deg)
  &::after
    top: calc(100% - 18px)
    left: 0
    transform: rotate(45deg)
