{% set page = '404' %}

{% extends '../partials/base.twig' %}

{% block title %}404{% endblock %}

{% block body %}
<div id="error">
  <section>
    <article class="container">
      <h1>La page que tu cherches n'existe plus :(</h1>
      <img src="/images/404/doggo_{{ randomInt }}.png" alt="La page n'existe plus" />

      <div class="btn-container">
        <a class="btn" href="/">Revenir à la page d'accueil</a>        
      </div>
    </article>
  </section>
</div>
{% endblock %}
