{% extends '../../partials/base.twig' %}

{% block title %}Les exercices{% endblock %}

{% block body %}
<div id="accueil">
  <div class="container">
    <section>
      <article>
        <div class="contenu">
          <h1>Les exercices</h1>
        </div>
      </article>
    </section>
  </div>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}
