{% set page = 'les-exercices' %}

{% extends '../../partials/base.twig' %}

{% block title %}Les exercices niveau {{ niveau | upper }}{% endblock %}

{% block body %}
<div id="exercice-show">
  <section>
    <article class="container">
      <div class="contenu">
        <h1>Les exercices niveau <strong>{{ niveau | upper }}</strong></h1>
      </div>
    </article>
  </section>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}
